<h1>Relevés du {{ today|date:"d/m/Y" }}</h1>
<form method="get">
  <label>Site:
    <select name="site" onchange="this.form.submit()">
      <option value="">Tous les sites</option>
      {% for site in sites %}
      <option value="{{ site.id }}">{{ site.nom }}</option>
      {% endfor %}
    </select>
  </label>
</form>
<a href="{% url 'ajouter_releve' %}">Ajouter un relevé</a>
<a href="{% url 'releves_manquants' %}">Voir manquants</a>
<table border="1">
  <tr><th>Site</th><th>Matin</th><th>Soir</th></tr>
  {% for site in sites %}
  <tr>
    <td>{{ site.nom }}</td>
    <td>
      {% for releve in releves %}
        {% if releve.site_id == site.id and releve.moment_jour == 'matin' %}
          {{ releve.temperature }}°C / {{ releve.oxygene }} mg/L
        {% endif %}
      {% endfor %}
    </td>
    <td>
      {% for releve in releves %}
        {% if releve.site_id == site.id and releve.moment_jour == 'soir' %}
          {{ releve.temperature }}°C / {{ releve.oxygene }} mg/L
        {% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
