{% extends "form_templates.html" %}
{% block title %}Ajouter un site{% endblock %}
{% block form_title %}Ajouter un site{% endblock %}
{% block form_content %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">
						{{ field.label }}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}
				</label>
        {{ field }}
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}
    <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn px-4 py-2 rounded-pill"
								style="background-color: #2563eb !important; border-color: #2563eb !important; color: white !important;">Enregistrer
				</button>
        {% block cancel_button %}
    			<a href="{% url 'sites:site-list' %}" class="btn btn-outline-secondary">Annuler</a>
				{% endblock %}
    </div>
	</form>
{% endblock %}
