{% extends "form_templates.html" %}
{% block title %}Ajouter un lot{% endblock %}
{% block form_title %}Ajouter un lot{% endblock %}
{% block form_content %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
		<div class="mb-3">
				<label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
				{% if field.name == 'bassins' %}
						<select name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control" multiple>
								{% for option in field %}
										{{ option.tag }}
								{% endfor %}
						</select>
				{% else %}
						{{ field }}
				{% endif %}
				{% if field.help_text %}
						<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
		</div>
		{% endfor %}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="{% url 'stocks:list' %}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}
