test-1     | =========================== short test summary info ============================
test-1     | FAILED apps/activite_quotidien/tests/test_form.py::TestNourrissageForm::test_form_valid_data
test-1     | FAILED apps/activite_quotidien/tests/test_form.py::TestNourrissageForm::test_form_invalid_qte
test-1     | FAILED apps/activite_quotidien/tests/test_form.py::TestNourrissageForm::test_form_invalid_date_format
test-1     | FAILED apps/activite_quotidien/tests/test_form.py::TestNourrissageForm::test_form_invalid_bassin_site
test-1     | FAILED apps/activite_quotidien/tests/test_form.py::TestNourrissageForm::test_form_required_fields
test-1     | FAILED apps/activite_quotidien/tests/test_form.py::TestNourrissageForm::test_form_widgets
test-1     | FAILED apps/activite_quotidien/tests/test_form.py::TestNourrissageForm::test_form_save
test-1     | FAILED apps/activite_quotidien/tests/test_form.py::TestNourrissageForm::test_form_initial_data
test-1     | FAILED apps/activite_quotidien/tests/test_models.py::TestNourrissageModel::test_nourrissage_cree_par_null
test-1     | FAILED apps/activite_quotidien/tests/test_models.py::TestNourrissageValidations::test_qte_min_value
test-1     | FAILED apps/activite_quotidien/tests/test_views.py::TestNourrissageCreateView::test_create_nourrissage_success
test-1     | FAILED apps/activite_quotidien/tests/test_views.py::TestNourrissageCreateView::test_create_nourrissage_invalid_bassin_site
test-1     | FAILED apps/activite_quotidien/tests/test_views.py::TestNourrissageCreateView::test_create_nourrissage_invalid_lot_bassin
test-1     | FAILED apps/activite_quotidien/tests/test_views.py::TestNourrissageUpdateView::test_update_nourrissage_invalid_bassin_site
test-1     | FAILED apps/activite_quotidien/tests/test_views.py::TestNourrissageDeleteView::test_delete_nourrissage_success
test-1     | FAILED apps/especes/tests/test_views.py::TestEspeceDeleteView::test_espece_delete_view_template
test-1     | FAILED apps/fournisseurs/tests/test_views.py::TestFournisseurDeleteView::test_fournisseur_delete_view_template
test-1     | ================= 17 failed, 232 passed, 13 warnings in 20.43s ===============


at time, cover is 94% test covering, it is to control 
